@import url("https://fonts.cdnfonts.com/css/cascadia-code");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cascadia Code";
  background-color: rgb(167 139 250);
}
.shinytext > li > a:hover {
  text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 10px white,
    0px 0px 10px white, 0px 0px 20px white, 0px 0px 20px white;
  filter: (0px 0px 15px white);
}
.osaker {
  background-image: url("/osaker.png");
}
.laincore {
  background-image: url("/laincore.png");
}
